<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Add Party</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icon -->
<link rel="icon" th:href="@{/images/fevicon.png}" type="image/png" />
<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- site css -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<!-- responsive css -->
<link rel="stylesheet" th:href="@{/css/responsive.css}" />
<!-- color css -->
<link rel="stylesheet" th:href="@{/css/colors.css}" />
<!-- select bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" />
<!-- scrollbar css -->
<link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}" />
<!-- custom css -->
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="dashboard dashboard_1">
	<div class="full_container">
		<div class="inner_container">
			<!-- Sidebar  -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- end sidebar -->
			<!-- right content -->
			<div id="content">
				<!-- topbar -->
				<div th:replace="fragments/header :: myHeader"></div>

				<!-- end topbar -->
				<!-- dashboard inner -->
				<div class="midde_cont">
					<div class="container-fluid">
						<div class="row column_title">
							<div class="col-md-12">
								<div class="page_title">
									<h2>Add Party</h2>
								</div>
							</div>
						</div>



						<div class="row w-50 mx-auto">
							<div th:if="${fail} != null" th:utext="${fail}"
								class=" col-md-12 m-4 alert alert-icon alert-danger border-danger alert-dismissible fade show text-center "
								role="alert" style="width: fit-content;"></div>
							<div th:if="${success} != null" th:utext="${success}"
								class=" col-md-12 m-4 alert alert-icon alert-success border-success alert-dismissible fade show text-center "
								role="alert" style="width: fit-content;"></div>


						</div>
					</div>

					<!-- <div class="center verticle_center ">
						<div class="login_section2">
							<div class="login_form"> -->
					<div class="card form p-4 border-0 shadow-lg">
						<form th:object="${party}" id="addpty" th:action="@{/party/save}"
							th:method="post">
							<!-- <fieldset> -->
							<div class="form-row">
								<input type="hidden" th:field="*{id}">

								<div class="form-group col-md-6">
									<label class="label_field">Party Name <span
										class="text-danger font-weight-bold" style="font-size: 1rem;"
										data-bs-toggle="tooltip" data-bs-placement="top"
										data-bs-title="compulsory">*</span></label> <input type="text" class="form-control"
										th:field="*{partyName}" placeholder=" Enter Party Name"
										required="required" />
								</div>
								<div class="form-group col-md-6">
									<label class="label_field">Address</label> <input type="text" class="form-control"
										th:field="*{address}" placeholder="Enter Address" />
								</div>


								<div class="form-group col-md-6">
									<label class="label_field">Pin Code</label> <input type="text" class="form-control" 
										th:field="*{pincode}" placeholder="Enter Pin Code" />
								</div>

								<div class="form-group col-md-6">
									<label class="label_field " style="" data-bs-toggle="tooltip"
										data-bs-placement="top" data-bs-title="compulsory">Phone
										Number <span class="text-danger font-weight-bold"
										style="font-size: 1rem;">*</span>
									</label> <input type="text" th:field="*{phoneNumber}" class="form-control"
										placeholder="Enter Phone Number" required="required" />
								</div>

								<div class="form-group col-md-6">
									<label class="label_field">Pan Number</label> <input class="form-control"
										type="text" th:field="*{panNumber}"
										placeholder=" Enter Pan Number">

								</div>
								<div class="form-group col-md-6">
									<label class="label_field">Aadhar Number</label> <input class="form-control"
										type="number" th:field="*{aadhaarNumber}"
										placeholder=" Enter Aadhar number">
								</div>
								<div class="form-group col-md-6">
									<label class="label_field" for="cinNumber">GSTIN Number</label>
									<input type="text" name="gstinNumber" th:field="*{gstinNumber}"
										class="form-control" id="inputPassword4"
										placeholder="Enter Gstin Number">
								</div>
								<!-- </fieldset> -->

								<div class="row">
									<div class="container text-center mt-3">
										<button type="submit" class="btn btn-outline-primary">Add</button>
									</div>
								</div>
							</div>
						</form>
					</div>


					<!-- </div>
						</div>
					</div> -->

					<!-- footer -->
					<div class="container-fluid">
						<div class="footer">
							<p>
								Copyright © 2023 by ASTE<br>
								<!-- <br> Distributed By: <a
									href="https://github.com/SalmanQuadir1/">ASTE</a> -->
							</p>
						</div>
					</div>
				</div>
				<!-- end dashboard inner -->
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- wow animation -->
	<script th:src="@{/js/animate.js}"></script>
	<!-- select country -->
	<script th:src="@{/js/bootstrap-select.js}"></script>
	<!-- owl carousel -->
	<script th:src="@{/js/owl.carousel.js}"></script>
	<!-- chart js -->
	<script th:src="@{/js/Chart.min.js}"></script>
	<script th:src="@{/js/Chart.bundle.min.js}"></script>
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/analyser.js}"></script>

	<!-- nice scrollbar -->
	<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
	<script>
		var ps = new PerfectScrollbar('#sidebar');
	</script>
	<!-- custom js -->
	<script th:src="@{/js/chart_custom_style1.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/tooltip.js}"></script>
</body>

</html>