<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Add Bank Details | Expenses</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icon -->
<link rel="icon" th:href="@{/images/fevicon.png}" type="image/png" />
<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- site css -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<!-- responsive css -->
<link rel="stylesheet" th:href="@{/css/responsive.css}" />
<!-- color css -->
<link rel="stylesheet" th:href="@{/css/colors.css}" />
<!-- select bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" />
<!-- scrollbar css -->
<link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}" />
<!-- custom css -->
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="dashboard dashboard_1">
	<div class="full_container">
		<div class="inner_container">
			<!-- Sidebar  -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- end sidebar -->
			<!-- right content -->
			<div id="content">
				<!-- topbar -->
				<div th:replace="fragments/header :: myHeader"></div>

				<!-- end topbar -->
				<!-- dashboard inner -->
				<div class="midde_cont">
					<div class="container-fluid">
						<div class="row column_title">
							<div class="col-md-12">
								<div class="page_title">
									<h2>Add Bank Details</h2>
								</div>
							</div>
						</div>

					</div>
					<div class="card form p-4 border-0 shadow-lg">
						<div class="alert alert-success mx-auto w-50" role="alert"
							th:text="${success}" th:if="${success}"></div>
						<div class="alert alert-danger mx-auto w-50" role="alert"
							th:text="${fail}" th:if="${fail}"></div>


						<form th:object="${bankDetails}" th:action="@{/bank/save}"
							method="post">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="companyName">Bank Name</label> <input type="text"
										class="form-control" id="inputEmail4" name="bankName"
										placeholder="Enter Bank Name" required>
								</div>
								<div class="form-group col-md-6">
									<label for="accountNumber">Account Number</label> <input
										type="text" name="accountNumber" class="form-control"
										id="inputPassword4" placeholder="Enter Account Number"
										required>
								</div>
								<div class="form-group col-md-6">
									<label for="ifscCode">IFSC Code</label> <input type="text"
										name="ifscCode" class="form-control" id="inputPassword4"
										placeholder="IFSC Code" required>
								</div>
								<div class="form-group col-md-6">
									<label for="adCode">AD Code</label> <input type="text"
										name="adCode" class="form-control" id="inputPassword4"
										placeholder=" Enter AD code" required>
								</div>

								<div class="form-group col-md-6">
									<label for="address">Branch Address</label> <input type="text"
										name="address" class="form-control" id="inputPassword4"
										placeholder=" Enter Branch Address" required>
								</div>


							</div>


							<div class="row">
								<div class="container text-center mt-3">
									<button type="submit" class="btn btn-outline-primary">Submit</button>
								</div>
							</div>


						</form>

					</div>

					<!-- footer -->
					<div class="container-fluid">
						<div class="footer">
							<p>
								Copyright © 2023 by ASTE<br>
								<!-- <br> Distributed By: <a
									href="https://github.com/SalmanQuadir1/">ASTE</a> -->
							</p>
						</div>
					</div>
				</div>
				<!-- end dashboard inner -->
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- wow animation -->
	<script th:src="@{/js/animate.js}"></script>
	<!-- select country -->
	<script th:src="@{/js/bootstrap-select.js}"></script>
	<!-- owl carousel -->
	<script th:src="@{/js/owl.carousel.js}"></script>
	<!-- chart js -->
	<script th:src="@{/js/Chart.min.js}"></script>
	<script th:src="@{/js/Chart.bundle.min.js}"></script>
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/analyser.js}"></script>

	<!-- nice scrollbar -->
	<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/js/alertClose.js}"></script>

	<script>
		var ps = new PerfectScrollbar('#sidebar');
	</script>
	<!-- custom js -->
	<script th:src="@{/js/chart_custom_style1.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
</body>

</html>