<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Bills Receivable | Expenses Management</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icon -->
<link rel="icon" th:href="@{/images/fevicon.png}" type="image/png" />
<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- site css -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<!-- responsive css -->
<link rel="stylesheet" th:href="@{/css/responsive.css}" />
<!-- color css -->
<link rel="stylesheet" th:href="@{/css/colors.css}" />
<!-- select bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" />
<!-- scrollbar css -->
<link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}" />
<!-- custom css -->
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/flatpickr.min.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="dashboard dashboard_1">
	<div class="full_container">
		<div class="inner_container">
			<!-- Sidebar  -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- end sidebar -->
			<!-- right content -->
			<div id="content">
				<!-- topbar -->
				<div th:replace="fragments/header :: myHeader"></div>

				<!-- end topbar -->
				<!-- dashboard inner -->
				<div class="midde_cont">
					<div class="container-fluid">
						<div class="row column_title">
							<div class="col-md-12">
								<div class="page_title">
									<h2 th:text="${edit}?'Update Bills Receivable':'Add Bills Receivable'"></h2>
								</div>
							</div>
						</div>
						<div class="row w-50 mx-auto">
							<div th:if="${fail} != null" th:utext="${fail}"
								class=" col-md-12 m-4 alert alert-icon alert-danger border-danger alert-dismissible show text-center "
								role="alert" style="width: fit-content;"></div>
							<div th:if="${success} != null" th:utext="${success}"
								class=" col-md-12 m-4 alert alert-icon alert-success border-success alert-dismissible show text-center "
								role="alert" style="width: fit-content;"></div>


						</div>

					</div>
					<div class="card form p-4 border-0 shadow-lg">


					
						<form th:object="${billsReceivable}" th:method="post"
							data-bvalidator-validate="true"
							th:action="@{${edit != null} ? '/bills/update' : '/bills/save'}"
							enctype="multipart/form-data">
							 <input type="hidden" th:field="*{id}">  
							  <input type="hidden" th:field="*{company.id}">  
							<div class="form-row">
							<!-- 	<div class="form-group col-md-6">
									<label>Party / Customer</label> <select
										id="party" class="form-control"
										th:field="*{party}" required="required">
										<option value="">Select party / Customer</option>
										<option th:each="party : ${partyList}" th:value="${party.id}"
											th:text="${party.partyName+'('+party.phoneNumber+')'}"></option>
									</select>
								</div> -->

								
								<div class="form-group col-md-6">
									<label th:text="${session.company.type =='Company'}?'Invoice Number':'Bill Number'"></label> <select
										id="invoice" class="form-control"
										th:field="*{invoice}" required="required">
										<option value="">Select Number</option>
										<option th:each="invoice : ${invoiceList}" th:value="${invoice.id}"
											th:text="${invoice.invoiceNumber + ' (' + (invoice.billType == 'ServiceTaxBill' ? 'Service Tax Bill' : 'Bill') + ')'}"></option>
									</select>
								</div>
								
									<div class="form-group col-md-6">
									<label for="party">Party/Customer</label> 
										<input type="text" class="form-control" id="partyName" name="partyName" readonly="readonly">
								</div>
								
								<div class="form-group col-md-6">
									<label for="invoiceAmount" th:text="${session.company.type =='Company'}?' Total Invoice Amount':' Total Bill Amount'">Total Invoice Amount </label> <input type="number"
										class="form-control" id="invoiceAmount" th:value="${Total}"
										 readonly="readonly">
								</div>
								
								<div class="form-group col-md-6">
									<label for="amountReceived" >Received Amount </label> <input type="number"
										class="form-control" id="amountReceived" th:value="${Total}"
										 readonly="readonly">
								</div>
								
							
								<div class="form-group col-md-6">
									<label for="invoiceAmount" th:text="${session.company.type =='Company'}?'Invoice Currency':'Bill Currency'"> </label> <input type="text"
										class="form-control" id="currency" th:value="${Total}"
										 readonly="readonly">
								</div>
							
							
								
								<div class="form-group col-md-6">
									<label for="receivedAmount">Amount Received(INR)</label> <input type="number"
										class="form-control" id="inputEmail4" th:field="*{receivedAmount}"
										name="receivedAmount" placeholder="Enter Received Amount" min=1
										required="required">
								</div>
								
									
								<div class="form-group col-md-6">
									<label for="currencyRate"> Received Currency Amount</label> <input type="number"
										class="form-control" id="inputEmail4" th:field="*{receivedCurrencyAmount}"
										name="receivedCurrencyAmount" placeholder="Enter Received Currency Amount" step="any" min=1
										required="required">
								</div>
								
								<div class="form-group col-md-6">
									<label for="paymentDate">Payment Received Date</label> <input
										type="date" class="form-control picker" id="inputEmail4"
										th:field="*{paymentReceivedDate}" name="paymentDate"
										placeholder="Enter Payment Received Date" required="required">
								</div>
							 
							 <div class="form-group col-md-6">
									<label> Choose Payment Through: </label>
									<div class="row " style="margin:0 2px">
                                    <div class="col-md-12 form-control ">
									<div class="row">
									
										<div class="col-md-3">
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" th:field="*{modeOfPayment}" required
													id="inlineRadio1" value="cash" />
												<label class="form-check-label" for="inlineRadio1">Cash</label>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" th:field="*{modeOfPayment}" required
													id="inlineRadio2" value="bank" />
												<label class="form-check-label" for="inlineRadio2">Bank</label>
											</div>
										</div>
										</div>
									</div>
							</div></div>
							
							
							
							<div class="form-group col-md-6 bank d-none">
									<label>Bank Details</label> <select class="form-control" id="bank"
										th:field="*{bankDetails}" >
										<option value="">Select Bank</option>
										<option th:each="bank : ${bankList}" th:value="${bank.id}"
											th:text="${bank.bankName}+'('+${ bank.accountNumber}+')'"></option>
									</select>
								</div>
			  
							<div class="row">
								<div class="container text-center mt-3">
									<button type="submit" class="btn btn-outline-primary"
										th:text=" ${edit}?'Update':'Add'"></button>
								</div>
							</div>


						</form>

					</div>

					<!-- footer -->
					<div class="container-fluid">
						<div class="footer">
							<p>
								Copyright © 2023 by ASTE<br>
								<!-- <br> Distributed By: <a
									href="https://github.com/SalmanQuadir1/">ASTE</a> -->
							</p>
						</div>
					</div>
				</div>
				<!-- end dashboard inner -->
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<!-- wow animation -->
	<script th:src="@{/js/animate.js}"></script>
	<!-- select country -->
	<script th:src="@{/js/bootstrap-select.js}"></script>
	<!-- owl carousel -->
	<script th:src="@{/js/owl.carousel.js}"></script>
	<!-- chart js -->
	<script th:src="@{/js/Chart.min.js}"></script>
	<script th:src="@{/js/Chart.bundle.min.js}"></script>
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/analyser.js}"></script>
	<script th:src="@{/js/flatpickr.js}"></script>
	<!-- <script th:src="@{/js/alertClose.js}"></script> -->


	<!-- nice scrollbar -->
	<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
	<script>
		var ps = new PerfectScrollbar('#sidebar');
	</script>
	<!-- custom js -->
	<script th:src="@{/js/chart_custom_style1.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/tooltip.js}"></script>


<script>
$(document).ready(function(){
	var invoice=$('#invoice').val();
	console.log("invoice data==="+invoice);
	if(invoice !=""){
		getInvoiceData(invoice);
		
	}
	});
	$('#invoice').on('click', function(){
		 var id= $('#invoice').val(); 
		 getInvoiceData(id);
		 console.log("id=============="+id);
});
	
	function getInvoiceData(id){
		
		var base_url = window.location.origin;

	    var host = window.location.host.split(':');

	    var pathArray = window.location.pathname.split('/');
	    if (host[0] == "localhost") {
			 url2 = "/invoice/get/"+id;
			 getData(url2);
	    }
	    else{
	    	url2 ='/'+pathArray[1]+'/invoice/get/'+id;
	        getData(url2);
	    }
	    
	    function getData(url2){
			 $.getJSON(url2,function(data) {  
				 var invoice = data.invoice;
				 var party = data.party;
				var totalAmount= invoice.totalAmount;
				var currency=invoice.currency;
				var old=invoice.oldGoldExchange;
				var dis=invoice.discount;
				var received=invoice.amountReceived;
				var grandTotal=totalAmount-old-dis;
				var partyName=party.partyName;
				console.log("party==="+partyName)
				document.getElementById('invoiceAmount').value=grandTotal;	
				document.getElementById('currency').value=currency;
				document.getElementById('amountReceived').value=received;
				document.getElementById('partyName').value=partyName;
			  });
	    }
   }
	
	$(".picker").flatpickr({
		format : "Y-m-d",
		altFormat : "Y-m-d",
		altInput : true,
		allowInput : true
	});
	
	
	
	
	
	//conditional code on cash and bank on change
	$(document).on("change", ".form-check-input", function () {

		if ($("#inlineRadio1").is(":checked")) {
			$(".bank").addClass("d-none");
			 $("#bank").val(null);
		} else if ($("#inlineRadio2").is(":checked")) {
			$(".bank").removeClass("d-none");
		}
	});

	//conditional code on cash and bank document ready function
		if ($("#inlineRadio1").is(":checked")) {
			$(".bank").addClass("d-none");
		} else if ($("#inlineRadio2").is(":checked")) {
			$(".bank").removeClass("d-none");
		}
	
</script>
</body>

</html>