<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Shop | Expenses</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icon -->
<link rel="icon" th:href="@{/images/fevicon.png}" type="image/png" />
<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- site css -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<!-- responsive css -->
<link rel="stylesheet" th:href="@{/css/responsive.css}" />
<!-- color css -->
<link rel="stylesheet" th:href="@{/css/colors.css}" />
<!-- select bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" />
<!-- scrollbar css -->
<link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}" />
<!-- custom css -->
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/flatpickr.min.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="dashboard dashboard_1">
	<div class="full_container">
		<div class="inner_container">
			<!-- Sidebar  -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- end sidebar -->
			<!-- right content -->
			<div id="content">
				<!-- topbar -->
				<div th:replace="fragments/header :: myHeader"></div>

				<!-- end topbar -->
				<!-- dashboard inner -->
				<div class="midde_cont">
					<div class="container-fluid">
						<div class="row column_title">
							<div class="col-md-12">
								<div class="page_title">
									<h2 th:text="${edit}?'Update Shop':''"></h2>

								</div>
							</div>
						</div>
						<div class="row w-50 mx-auto">
							<div th:if="${fail} != null" th:utext="${fail}"
								class=" col-md-12 m-4 alert alert-icon alert-danger border-danger alert-dismissible fade show text-center "
								role="alert" style="width: fit-content;"></div>
							<div th:if="${success} != null" th:utext="${success}"
								class=" col-md-12 m-4 alert alert-icon alert-success border-success alert-dismissible fade show text-center "
								role="alert" style="width: fit-content;"></div>


						</div>

					</div>
					<div class="card form p-4 border-0 shadow-lg">
						<form th:object="${company}"
							th:action="@{/dashboard/updateCompany}" method="post" enctype="multipart/form-data">

							<div class="form-row">
								<input type="hidden" th:field="*{id}">
								<input type="hidden" th:field="*{user.id}">
									<input type="hidden" th:field="*{type}">
								<div class="form-group col-md-6">
									<label for="companyName">Shop Name</label> <input
										type="text" name="companyName" class="form-control"
										th:field="*{companyName}" id="inputPassword4"
										placeholder=" Enter Company Name" required="required">
								</div>
							   <div class="form-group col-md-6">
									<label for="regNumber">Registration Number</label> <input type="text" th:field="*{registrationNumber}"
										name="registrationNumber" class="form-control" id="inputPassword4" readonly="readonly" >
								</div>
								<div class="form-group col-md-6">
									<label for="panNumber">Pan Number</label> <input type="text"
										name="panNumber" class="form-control" th:field="*{panNumber}"
										id="inputPassword4" placeholder=" Enter PanNumber " readonly>
								</div>
								<div class="form-group col-md-6">
									<label for="gstinNumber">GSTIN Number</label> <input
										type="text" name="gstinNumber" class="form-control"
										th:field="*{gstinNumber}" id="inputPassword4"
										placeholder=" Enter gstinNumber " >
								</div>
								<div class="form-group col-md-6">
									<label for="email">Email</label> <input type="email"
										name="email" class="form-control" th:field="*{email}"
										id="inputPassword4" placeholder=" Enter email "
										required="required">
								</div>
								<div class="form-group col-md-6">
									<label for="phoneNumber">Phone Number</label> <input
										type="text" name="phoneNumber" class="form-control"
										th:field="*{phoneNumber}" id="inputPassword4"
										placeholder=" Enter phoneNumber " required="required">
								</div>
								<div class="form-group col-md-6">
									<label for="website">Website</label> <input type="text"
										name="website" class="form-control" th:field="*{website}"
										id="inputPassword4" placeholder=" Enter website "
										>
								</div>
								<div class="form-group col-md-6">
									<label for="address">Address</label> <input type="text"
										name="address" class="form-control" th:field="*{address}"
										id="inputPassword4" placeholder=" Enter address "
										required="required">
								</div>

								<div class="form-group col-md-6">
									<label for="country">Country</label> <input type="text"
										name="country" class="form-control" th:field="*{country}"
										id="inputPassword4" placeholder=" Enter country "
										required="required">
								</div>

								<div class="form-group col-md-6">
									<label for="pincode">PinCode</label> <input type="text"
										name="pincode" class="form-control" th:field="*{pincode}"
										id="inputPassword4" placeholder=" Enter pincode "
										required="required">
								</div>

								<div class="form-group col-md-6">
									<label for="state">State</label> <input type="text"
										name="state" class="form-control" th:field="*{state}"
										id="inputPassword4" placeholder=" Enter state "
										required="required">
								</div>


								<div class="form-group col-md-6">
									<label for="headOffice">Head Office</label> <input type="text"
										name="headOffice" class="form-control"
										th:field="*{headOffice}" id="inputPassword4"
										placeholder=" Enter headOffice " required="required">
								</div>

								<div class="form-group col-md-6">
									<label for="branchOffice">Branch Office</label> <input
										type="text" name="branchOffice" class="form-control"
										th:field="*{branchOffice}" id="inputPassword4"
										placeholder=" Enter branchOffice " required="required">
								</div>
								
								<div class="form-group col-md-6">
									<label for="branchOffice">Choose Signature</label><input
										type="file" class="form-control"
										name="signature" id="file"
										placeholder="Choose Signature" accept="image/jpeg,image/png,image/jpg">
									<div th:if="${fail} != null" th:utext="${fail}" class="col-md-12 text-danger fade show"></div>
								</div>
								
								<div class=" col-md-6 " th:if="${company.imageName} != null">
									<div class=" col-md-4 offset-md-4">
										<div
											style="border: 2px solid black; height: 150px; width: 150px; border-radius: 4px; overflow: hidden;">
											<input type="hidden" th:field="*{imageName}">
											<img
												id="ImagePreview"
												th:src="@{'/user/getimage/'+${company.imageName}}"
												height="150px" width=" 150px">
												
										</div>
									</div>
								</div>
								
								<div class=" col-md-6 " th:if="${company.imageName} == null">
									<div class=" col-md-4 offset-md-4">
										<div
											style="border: 2px solid black; height: 150px; width: 150px; border-radius: 4px; overflow: hidden;">

											<img alt="ImagePreview" class="imgPreview" id="ImagePreview"
												height="150px" width=" 150px">
										</div>
									</div>
								</div>


							</div>
							<div class="field margin_0 text-center">
								<button type="submit" class="btn btn-outline-success">Update</button>
							</div>


						</form>

					</div>

					<!-- footer -->
					<div class="container-fluid">
						<div class="footer">
							<p>
								Copyright © 2023 by ASTE<br>
								<!-- <br> Distributed By: <a
									href="https://github.com/SalmanQuadir1/">ASTE</a> -->
							</p>
						</div>
					</div>
				</div>
				<!-- end dashboard inner -->
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<!-- wow animation -->
	<script th:src="@{/js/animate.js}"></script>
	<!-- select country -->
	<script th:src="@{/js/bootstrap-select.js}"></script>
	<!-- owl carousel -->
	<script th:src="@{/js/owl.carousel.js}"></script>
	<!-- chart js -->
	<script th:src="@{/js/Chart.min.js}"></script>
	<script th:src="@{/js/Chart.bundle.min.js}"></script>
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/analyser.js}"></script>
	<script th:src="@{/js/flatpickr.js}"></script>
	<script th:src="@{/js/alertClose.js}"></script>


	<!-- nice scrollbar -->
	<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
	<script>
		var ps = new PerfectScrollbar('#sidebar');
	</script>
	<!-- custom js -->
	<script th:src="@{/js/chart_custom_style1.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/tooltip.js}"></script>


	<script>
		//Preview Image Starts Here............//
		var imageInput = document.getElementById('file');
		var imagePreview = document.getElementById('ImagePreview');

		imageInput.addEventListener('change', function() {
			var file = this.files[0];
			var reader = new FileReader();

			reader.onload = function() {
				imagePreview.src = reader.result;
			}

			reader.readAsDataURL(file);
		});

		//Preview Image ends Here............//

		var dropdown = document.getElementById("employeeGroupDropdown");
		dropdown.addEventListener("change", function() {
			var selectedId = this.value;
		});

		$(document).ready(function() {
			$("#joindt,#extdt").flatpickr({
				format : "Y-m-d",
				altFormat : "Y-m-d",
				altInput : true,
				allowInput : true
			});
		});
	</script>
</body>

</html>