<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
<!-- site metas -->
<title >Search </title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icon -->
<link rel="icon" th:href="@{/images/pyramidlogo.jpg}" type="image/png" />
<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- site css -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<!-- responsive css -->
<link rel="stylesheet" th:href="@{/css/responsive.css}" />
<!-- color css -->
<link rel="stylesheet" th:href="@{/css/colors.css}" />
<!-- select bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" />
<!-- scrollbar css -->
<link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}" />
<!-- custom css -->
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<link rel="stylesheet" th:href="@{/css/flatpickr.min.css}" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="dashboard dashboard_1">
	<div class="full_container">
		<div class="inner_container">
			<!-- Sidebar  -->
			<div th:replace="fragments/sidebar :: sidebar"></div>

			<!-- end sidebar -->
			<!-- right content -->
			<div id="content">
				<!-- topbar -->
				<div th:replace="fragments/header :: myHeader"></div>

				<!-- end topbar -->
				<!-- dashboard inner -->
				<div class="midde_cont">
					<div class="container-fluid">
						<div class="row column_title">
							<div class="col-md-12">
								<div class="page_title">
									<h2 th:text="${session.company.type =='Company'}?'Partial Invoice':'Partial (Bill / Service Tax Bill)'"></h2>
								</div>
							</div>
						</div>
						<div class="row w-50 mx-auto">
							<div th:if="${fail} != null" th:utext="${fail}"
								class=" col-md-12 m-4 alert alert-icon alert-danger border-danger alert-dismissible fade show text-center "
								role="alert" style="width: fit-content;"></div>
							<div th:if="${success} != null" th:utext="${success}"
								class=" col-md-12 m-4 alert alert-icon alert-success border-success alert-dismissible fade show text-center "
								role="alert" style="width: fit-content;"></div>


						</div>

					</div>
					
					<div class=" card  border-0 d-flex mb-2 text-center col-md-3 p-2">
						<strong class="font-weight-bold">Total Partials Bills : <span
							class="badge badge-success p-2 rounded-circle">
								[[${totalItems}]]</span></strong>
					</div>


					<div class="card form p-4 border-0 shadow-lg">
						<form action="#" th:action="@{/dashboard/partialInvoices}"
							th:object="${searchForm}" method="POST">

							<div class="form-row">

								<!--  <input type="hidden" th:field="*{companyId}"> -->
								<div class="form-group col-md-6">
									<label th:text="${session.company.type =='Company'}?'Invoice Number':'Bill Number'"></label> <select
										th:field="*{invoiceNumber}" class="form-select form-control"
										aria-label="Default select example">
										<option value="">Select*</option>
										<option th:each="inv : ${invList}"
											th:text="${inv.invoiceNumber + ' (' + (inv.billType == 'ServiceTaxBill' ? 'Service Tax Bill' : 'Bill') + ')'}"
											th:value="${inv.invoiceNumber }" />
									</select>
								</div>


							</div>

							<div class="row">
								<div class="container text-center mt-3">
									<button type="submit" class="btn btn-outline-primary"
										name="search">Search</button>
								</div>
							</div>

						</form>

					</div>


					<div class="card form p-4 border-0 shadow-lg">
						<table id="example" class="display table table-striped"
							style="width: 100%">
							<thead>
								<tr>
									<th th:text="${session.company.type =='Company'}?'Invoice Number':'Bill Number'" ></th>
									<th th:text="${session.company.type =='Company'}?'Invoice Date':'Bill Date'"></th>
									<th th:if="${session.company.type} == Shop" >Bill Type</th>
									<th>Country/State</th>
									<th>Services/Goods</th>
									<th th:if="${session.company.type} == Company" >Total Amount</th>
									<th th:if="${session.company.type} == Shop">Grand Total</th>
									<th>Received Amount</th>
									<th>Print</th>
									<th>Action</th> 
								</tr>
							</thead>
							<tbody>
								<th:block th:each="inv : ${invoiceList}">
									<tr>
										<td th:text=${inv.invoiceNumber}></td>
										<td th:text="${inv.invoiceDate}"></td>
										<td th:if="${session.company.type} == Shop" th:text="${inv.billType == 'ServiceTaxBill' ? 'Service Tax Bill' : 'Bill'}" ></td>
										<td th:text="${inv.type}"></td>
										<td th:text="${inv.typesOfInvoice}"></td>
										<td th:if="${session.company.type} == Company" th:text="${inv.totalAmount}"></td>
										<td th:if="${session.company.type} == Shop" th:text="${inv.grandTotal}"></td>
										<td th:text=${inv.amountReceived}></td>
											
										<td><a
											th:href="@{/invoice/printInvoice/{id}(id=${inv.id})}"
											class="" style="width: 90px;"><i
												class="fa fa-print text-success" title="Print Salary"  data-bs-toggle="tooltip"
												data-bs-placement="bottom" data-bs-title="Print "> </i></a>
										</td>

										<td><a
											th:href="@{${inv.billType == 'ServiceTaxBill'} ? '/invoice/updateServiceTaxBill/' + ${inv.id} : '/invoice/editinvoice/' + ${inv.id}}" class=""
											style="width: 90px;"><i class="fa fa-edit text-success"
												data-bs-toggle="tooltip" data-bs-placement="bottom"
												data-bs-title="Update Invoice "></i></a> &nbsp; <a
											th:href="@{/invoice/deleteInvoice/{id}(id=${inv.id})}"
											class="" style="width: 90px;"><i
												class="fa fa-trash text-danger" data-bs-toggle="tooltip"
												data-bs-placement="bottom" data-bs-title="Delete Invoice"></i></a>
										</td>
									</tr>
								</th:block>
							</tbody>

						</table>
					</div>

					<div class="row mt-3">

						<th:block th:if="${totalPages > 1}">
							<div class=" offset-md-4 col-md-8 mb-5">
								<ul class="pagination">
									<li class="page-item"><a class="page-link"
										th:href="@{/dashboard/pisearch/pageno=1}">First</a></li>

									<li class="page-item"><a class="pe-3 page-link"
										th:if="${currentPage > 1}"
										th:href="@{'/dashboard/pisearch/pageno=' + ${currentPage - 1}}"><<</a>
										<a class="page-link disabled" th:unless="${currentPage > 1}"><<</a>
									</li>

									<li class="page-item"><a class="pe-3 page-link disabled"
										th:if="${currentPage == 1}"><<</a></li>

									<th:block th:with="maxPagesOnEachSide=1">
										<li class="page-item"
											th:each="i: ${#numbers.sequence(1, totalPages)}"><a
											class="page-link"
											th:if="${i >= currentPage - maxPagesOnEachSide && i <= currentPage + maxPagesOnEachSide && i != currentPage}"
											th:href="@{'/dashboard/pisearch/pageno=' + ${i}}">[[${i}]]</a> <a
											class="page-link active" th:if="${i == currentPage}">[[${i}]]</a>
										</li>
									</th:block>
									
									<li class="page-item"><a class="pe-3 page-link"
										th:if="${currentPage < totalPages}"
										th:href="@{'/dashboard/pisearch/pageno=' + ${currentPage + 1}}">>></a>
										<a class="page-link" th:unless="${currentPage < totalPages}">>></a>
									</li>

									<li class="page-item"><a class="page-link"
										th:if="${currentPage < totalPages}"
										th:href="@{'/dashboard/pisearch/pageno=' + ${totalPages}}">Last</a>
										<a class="page-link" th:unless="${currentPage < totalPages}">Last</a>
									</li>
								</ul>
							</div>
						</th:block>

					</div>

					<!-- footer -->
					<div class="container-fluid">
						<div class="footer">
							<p>
								Copyright © 2023 by ASTE<br>								
							</p>
						</div>
					</div>
				</div>
				<!-- end dashboard inner -->
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- wow animation -->
	<script th:src="@{/js/animate.js}"></script>
	<!-- select country -->
	<script th:src="@{/js/bootstrap-select.js}"></script>
	<!-- owl carousel -->
	<script th:src="@{/js/owl.carousel.js}"></script>
	<!-- chart js -->
	<script th:src="@{/js/Chart.min.js}"></script>
	<script th:src="@{/js/Chart.bundle.min.js}"></script>
	<script th:src="@{/js/utils.js}"></script>
	<script th:src="@{/js/analyser.js}"></script>
	<script th:src="@{/js/flatpickr.js}"></script>
	<script th:src="@{/js/alertClose.js}"></script>
<!-- 	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
 -->

	<!-- nice scrollbar -->
	<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('#example').DataTable({
				scrollY : '400px',
				scrollCollapse : true,
				paging : false,
			});

		});
		
		$(".picker").flatpickr({
			format : "Y-m-d",
			altFormat : "Y-m-d",
			altInput : true,
			allowInput : true
		});
		var ps = new PerfectScrollbar('#sidebar');
	</script>
	<!-- custom js -->
	<script th:src="@{/js/chart_custom_style1.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/tooltip.js}"></script>
</body>

</html>