<div>
<div class="bg-dark" th:fragment="regHeader">
					<nav class="navbar navbar-expand-lg navbar-dark">
						<div class="">
							
							<div class="logo d-flex">
								<!--  <a th:href="@{/}"> <img class=" rounded-circle"
									th:src="@{/images/logoaste.png}" alt="#" /><span> </span></a> 
									 -->
									<p><i class="fa fa-cubes fa-3x text-danger" aria-hidden="true"></i></p>&nbsp;<h5 class=" px-3 pt-2"> <a class="text-white" th:href="@{/}"> Expense Management System</a> </h5>
							</div>
						
						</div>
					</nav>
				</div>
</div>