<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">


<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Reset Password Request | Expenses Management</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- site icon -->
<link rel="icon" th:href="@{/images/fevicon.png}" type="image/png" />
<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- site css -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<!-- responsive css -->
<link rel="stylesheet" th:href="@{/css/responsive.css}" />
<!-- color css -->
<link rel="stylesheet" th:href="@{/css/colors.css}" />
<!-- select bootstrap -->
<link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" />
<!-- scrollbar css -->
<link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}" />
<!-- custom css -->
<link rel="stylesheet" th:href="@{/css/custom.css}" />
<!-- calendar file css -->
<link rel="stylesheet" th:href="@{/js/semantic.min.css}" />

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body class="inner_page login">
	<div th:insert="fragments/registerHeader :: regHeader"></div>

	<div class="full_container">
		<div class="row column_title ">
			<div class="col-md-12">
				<div class="page_title ">
					<h2 class="pl-3">Password Reset Request</h2>

				</div>
			</div>
		</div>
		<div class="container">



			<div class="center">
				<div class="login_section2"
					style="margin-top: 0.5rem; margin-bottom: 2rem;">


					<div class="row w-50 mx-auto">
						<div th:if="${fail} != null" th:utext="${fail}"
							class=" col-md-12 m-4 alert alert-icon alert-danger border-danger alert-dismissible fade show text-center "
							role="alert" style="width: fit-content;"></div>
							
						<div th:if="${success} != null" th:utext="${success}"
							class=" col-md-12 m-4 alert alert-icon alert-success border-success alert-dismissible fade show text-center "
							role="alert" style="width: fit-content;"></div>
							
						<div th:if="${param.error}!= null"
							class=" col-md-12 alert alert-danger text-center m-3">
							<span th:text="${param.error}"></span>
						</div>
					</div>


					<div class="login_form">

						<form id="login-form" class="form"
							th:action="@{/resetPasswordRequest}" action="#" method="post">
							<!-- 	<h3 class="text-dark mb-5 center text-muted font-italic">Login</h3> -->
							<fieldset>
								<div class="field">
									<label class="label_field">Enter Email</label> <input
										type="email" name="email" placeholder="Enter Your Email"
										required="required" />
								</div>
								<div class="field margin_0">
									<label class="label_field hidden">hidden label</label>
									<button type="submit" class="main_bt btn-block rounded-0">Reset
										Password</button>
								</div>
							</fieldset>
						</form>

					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="footer">
				<p>
					Copyright © 2023 by ASTE<br>
					<!-- <br> Distributed By: <a
									href="https://github.com/SalmanQuadir1/">ASTE</a> -->
				</p>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- wow animation -->
	<script th:src="@{/js/animate.js}"></script>
	<!-- select country -->
	<script th:src="@{/js/bootstrap-select.js}"></script>
	<!-- nice scrollbar -->
	<script th:src="@{/js/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/js/alertClose.js}"></script>
	<script>
		var ps = new PerfectScrollbar('#sidebar');
	</script>
	<!-- custom js -->
	<script th:src="@{/js/custom.js}"></script>
</body>
</html>